/*---- Section Four ----*/
/* add grayfiler to about me image */
.about-image {
  height: 100%;
  filter: grayscale(100%);
  transition: filter 0.5s;
}

/* remove grayfilter on hover */
.about-image:hover {
  filter: none;
}
/*---- /Section Four ----*/
