/*----  Project Cards  ----*/
/* https://codepen.io/donho_zamo/pen/YzXzPXZ */

.proj-card-container {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  height: 100%;
  overflow: hidden;
}
.proj-card-container:hover {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.proj-card-img {
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.proj-card-img:hover {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
}
