/*----  Project Cards  ----*/
/* https://codepen.io/donho_zamo/pen/YzXzPXZ */

.proj-card-container {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.proj-card-container:hover {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: var(--light-blue) 0px 19px 38px, var(--light-blue) 0px 15px 12px;
  cursor: pointer;
}
.proj-card-img {
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  width: fit;
  height: 250px;
  object-fit: cover;
}
.proj-card-img:hover {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
}

#title {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #33bbcf;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  font-weight: bold;
  z-index: 100;
  padding: 20rem;
}

.proj-card-container:hover #title {
  display: block;
}

.proj-card-img-modal {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.key-tech-title {
  font-weight: 600;
  letter-spacing: 2px;
}
