/* GALLERY  */
/* https://timnwells.medium.com/create-a-simple-responsive-image-gallery-with-html-and-css-fcb973f595ea */

#darkbox {
  width: 1280px;
  height: 720px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--on-background);
  overflow: hidden;
  text-align: center;
}
.darkboximg {
  padding: 5%;
  max-width: 1216px;
  max-height: 684px;
}

#gallery {
  line-height: 0;
  -webkit-column-count: 4;
  -webkit-column-gap: 5px;
  -moz-column-count: 4;
  -moz-column-gap: 5px;
  column-count: 4;
  column-gap: 5px;
  margin-top: 2rem;
}

#gallery img {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 5px;
  filter: grayscale(100%);
  transition: filter 0.5s;
}

#gallery img:hover {
  filter: none;
}

@media (max-width: 1200px) {
  #gallery {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 1000px) {
  #gallery {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 800px) {
  #gallery {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
  .btn {
    width: 50%;
    float: none;
    text-align: center;
  }
}
@media (max-width: 400px) {
  #gallery {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

/* Gallery Lightbox */
#darkbox {
  width: 1280px;
  height: 720px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
  overflow: hidden;
  text-align: center;
}
.darkboximg {
  padding: 5%;
  max-width: 1216px;
  max-height: 684px;
}
