/* TIPS */

// Oraganize your CSS according to:
// https://9elements.com/css-rule-order/#:~:text=So%20the%20order%20is%3A%20position,text%2D*%20%2C%20then%20word%2D*%20.
// Use rem units
// Use flex-start, flex-end, grid, start, grid end, etc... instead of Left, right, up down, etc...
// Use Accessible contrast ratios
// Use proper font spacing and line height for fonts that are designed to headers or fonts that designed to be body text.
// Avoid absolute units in line-height. Ie. use 1.5 instead of 22px.
// Include purely decorative images like baners in CSS instead of in html file.
// Avoid text in images and instead put the text at a higher Z index. - This makes the site more accessible, responsive, translatable and searchable.
// Do not let secondary content occupy the screen.
// Use vector graphics like SVG instead of raster graphics like PNG.

/* SASS INHERITANCE */
// @extend
// @mixin, e.g. clearfix
/* GENERATED CONTENT */
// content
/* POSITION AND LAYOUT */
// position
// z-index
// top
// bottom
// left
// right
// flexbox properties
// float
// clear
/* DISPLAY AND VISIBILITY */
// display
// opacity
// transform
/* CLIPPING */
// overflow
// clip
/* ANIMATION */
// animation
// transition
/* BOX MODEL (FROM OUTSIDE IN) */
// margin
// box-shadow
// border
// border-radius
// box-sizing
// width
// height
// padding
/* BACKGROUND */
// background
// cursor
/* TYPOGRAPHY */
// font-size
// line-height
// font-family
// font-weight
// font-style
// text-align
// text-transform
// word-spacing
// color
/* PSEUDO-CLASSES AND PSEUDO-ELEMENTS (NESTED RULES) */
// :hover
// :focus
// :active
// :before
// :after
// :first-child
// :last-child
//
//
//

/* IMPORTS */
@import url('../node_modules/font-awesome/css/font-awesome.min.css');

/*
Modern CSS Reset 
https://piccalil.li/blog/a-modern-css-reset/
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove link styling */
a {
  text-decoration: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 1.1rem;
  font-weight: 100;
  color: var(--on-background);
  background-color: var(--background);
  margin: 0 auto;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* END CSS RESET */

/* SKIP LINK */

/* Hide the skip link */
.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Show Skip Link when Focused */
.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

/* GLOBAL COLORS */

:root {
  /* Material Design 3 Colors*/
  /* --primary: hsla(258, 100%, 87%, 1); */
  /* --primary: #03dac5; */
  /* --primary: hsl(267, 96%, 48%); */
  --primary: hsl(200, 100%, 70%);
  --on-primary: hsla(259, 58%, 28%, 1);
  --on-primary: #6200ee;
  /* --on-primary: white; */
  --primary-container: hsla(257, 43%, 38%, 1);
  --onprimary-container: hsla(263, 100%, 93%, 1);
  --secondary: hsla(263, 27%, 81%, 1);
  --on-secondary: hsla(258, 18%, 22%, 1);
  --secondary-container: hsla(258, 13%, 31%, 1);
  --onsecondary-container: hsla(263, 65%, 92%, 1);
  --tertiary: hsla(343, 63%, 83%, 1);
  --on-tertiary: hsla(338, 33%, 22%, 1);
  --tertiary-container: hsla(340, 25%, 31%, 1);
  --ontertiary-container: hsla(340, 25%, 31%, 1);
  --error: hsla(3, 70%, 83%, 1);
  --on-error: hsla(3, 71%, 22%, 1);
  --error-container: hsla(3, 71%, 22%, 1);
  --onerror-container: hsla(4, 71%, 92%, 1);
  /* --background: hsl(0, 0%, 11%, 1); */
  --background: hsl(0, 0%, 11%);
  --on-background: hsla(312, 9%, 89%, 1);
  --surface: hsla(255, 7%, 11%, 1);
  --on-surface: hsla(312, 9%, 89%, 1);
  --surface-variant: hsla(264, 7%, 29%, 1);
  --onsurface-variant: hsla(264, 7%, 29%, 1);
  --outline: hsla(264, 5%, 58%, 1);
  --outline-variant: hsla(264, 7%, 29%, 1);
  /* Accent Colors */
  --purple: #6919ffe6;
}

.primary {
  color: var(--primary);
}
.on-primary {
  color: var(--on-primary);
}
.primary-container {
  color: var(--primary-container);
}
.on-primary-container {
  color: var(--onprimary-container);
}
.secondary {
  color: var(--secondary);
}
.on-secondary {
  color: var(--on-secondary);
}
.secondary-container {
  color: var(--secondary-container);
}
.on-secondary-container {
  color: var(--onsecondary-container);
}
.tertiary {
  color: var(--tertiary);
}
.on-tertiary {
  color: var(--ontertiary-container);
}
.tertiary-container {
  color: var(--tertiary-container);
}
.on-tertiary-container {
  color: var(--ontertiary-container);
}
.error {
  color: var(--error);
}
.on-error {
  color: var(--on-error);
}
.error-container {
  color: var(--error-container);
}
.on-error-container {
  color: var(--onerror-container);
}
.background {
  color: var(--background);
}
.on-background {
  color: var(--on-background);
}
.surface {
  color: var(--surface);
}
.on-surface {
  color: var(--on-surface);
}
.surface-variant {
  color: var(--surface-variant);
}
.on-surface-variant {
  color: var(--onsurface-variant);
}
.outline {
  color: var(--outline);
}
.outline-variant {
  color: var(--outline-variant);
}

/* TYPOGRAPHY */

/* Accessibility Text Best Practices */
.wrapper {
  /* max-width: 34em; */
  paragraph-spacing: 2em;
  word-spacing: 0.16em;
  letter-spacing: 0.12em;
}

/* Font Sizes and Weights*/
.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-24 {
  font-size: 24px;
}

.font-30 {
  font-size: 30px;
}

.font-36 {
  font-size: 36px;
}

.font-48 {
  font-size: 48px;
}

.font-60 {
  font-size: 60px;
}

.font-72 {
  font-size: 72px;
}

h1,
h2,
h3,
h4,
p,
l1 {
  text-align: center;
  max-width: 75ch;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

h3 {
  font-size: 1.1rem;
  font-weight: 300;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
}

h5 {
  font-size: 1rem;
  font-weight: 100;
}

li {
  list-style: none;
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 1.5;
}

.uppercase {
  text-transform: uppercase;
}

.font-bold {
  font-weight: 700;
}

.logo {
  font-weight: 700;
}

/* TODO: REFACTOR */
.title {
  font-size: 24px;
  font-weight: 700;
  color: var(--on-background);
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 1rem;
  color: var(--on-background);
}

.section-title {
  margin-bottom: 20px;
  /* font-size: ; */
  /* font-weight: ; */
  color: var(--primary);
  text-transform: uppercase;
  border-bottom: 1px solid var(--on-background);
}

.font-sm {
  font-size: 0.8rem;
  font-weight: 100;
}

.quote {
  font-size: 1.7rem;
  font-weight: ;
  padding-top: 50px;
  padding-bottom: 25px;
  /* padding: 50px 100px; */
  /* border: 1px solid white; */
  /* color: var(--on-primary); */
}

.quote-bg {
  /* background-color: var(--primary); */
  opacity: 0.8;
}

.pre-footer-title,
.pre-footer-subtitle {
  color: var(--background);
}

.footer-title,
.footer-social-title {
  text-transform: uppercase;
  color: var(--primary);
  margin-bottom: 10px;
}
/* TODO REFACTOR END */

/* SHADOWS */

/* box shadow for buttons*/
.box-shadow {
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
}

/* inset shadow for input fields */
.inset {
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.1);
}

/* drop shadow for images*/
.drop-shadow,
.image {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

/* text shadow for titles */
.text-shadow-dark,
.title,
.subtitle {
  text-shadow: 2px 8px 10px var(--background);
}

/* text shadow for footer */
.text-shadow-light {
  text-shadow: 1px 4px 6px var(--on-background);
}

/* LINKS AND BUTTONS */

.btn {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  padding: 7px 35px;
  background-color: var(--background);
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 60px;
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

a {
  color: var(--on-background);
}

a:hover,
a:focus,
.btn:hover,
.icon:hover {
  color: var(--primary);
  opacity: 0.9;
  transition: 0.3s;
  transform: translateY(1px);
}

.btn:hover,
.btn:focus {
  background-color: var(--primary);
  color: var(--on-primary);
}

a:active,
.btn:active,
.icon:active {
  opacity: 0.8;
  transition: 0.3s;
  transform: translateY(2px);
}

.btn:active {
  background-color: var(--primary);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.07);
}

.submit-btn {
  float: right;
}

/* ICONOGRAPHY */

.icon {
  padding: 0 15px;
  font-size: 24px;
  font-weight: bold;
}

.icons-container {
  margin: 15px 0;
}

/* LAYOUT */

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  margin: 50px auto;
}

/* HERO AND PRE-FOOTER */

.hero,
.pre-footer {
  height: 60vh;
  width: 100%;
  position: relative;
}

.hero-text,
.pre-footer-text {
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.index-hero::before,
.projects-hero::before,
.about-hero::before,
.contact-hero::before,
.pre-footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  filter: brightness(100%);
  transition: filter 0.5s;
}

/* remove grayscale filter on hero images */
.index-hero:hover::before,
.projects-hero:hover::before,
.about-hero:hover::before,
.contact-hero:hover::before,
.pre-footer:hover::before {
  filter: none;
}

/* IMAGES */

.image {
  border-radius: 16px;
}

.index-hero::before {
  background-image: url('/public/images/heros/hero-index.jpg');
}

.projects-hero::before {
  background-image: url('/public/images/heros/hero-projects.jpg');
}

.about-hero::before {
  background-image: url('/public/images/heros/hero-about.jpg');
}
.contact-hero::before {
  background-image: url('/public/images/heros/hero-contact.jpg');
}

.pre-footer::before {
  background-image: url('/public/images/heros/pre-footer.jpg');
}

/* PROJECTS */

.project-cards-container {
  max-width: 1175px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 25px; */
  gap: 1.2rem;
  margin: 50px 0px;
}

.project-card {
  /* flex: 0 1 calc(25% - 1em); */
}

.project-card-title {
  padding-top: 15px;
}

.project-card-image {
  height: 275px;
  width: 275px;
}

.project-card-image:hover {
  opacity: 80%;
  transition: 0.3s;
  transform: translate(-2px, -10px);
  filter: drop-shadow(2px 3px 4px var(--on-background));
}

/* Resonsive Project Cards */
@media (min-width: 400px) {
  .project-cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 600px) {
  .project-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .project-cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Specific Styling */

.footer-social-title {
  margin-top: 50px;
}

/* .tech-tools {
  text-align: center;
} */

.form-success {
  height: 50vh;
}
