/* The Modal (background) */
.modal-one,
.modal-two,
.modal-three,
.modal-four,
.modal-five,
.modal-six {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 50%; /* Location of the box */
  /* left: 0;
  top: 0; */
  top: calc(50% - 25px); // half of width
  left: calc(50% - 50px); // half of height
  width: 50%;
  height: 50%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: var(--on-background);
  color: var(--background);
  margin: auto;
  padding: 20px;
  width: 80%;
}

.github-icon {
  background-color: var(--background);
}

/* The Close Button */
.close {
  color: var(--background);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
