@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Poppins', sans-serif;
}

html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

a,
a:hover {
  text-decoration: none;
}

:root {
  --light-blue: hsl(200, 100%, 70%);
  --color-bg: hsl(210, 11%, 15%);
  --color-white: #fff;
  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --text-gradient: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  --transition: all 400ms ease;
}

body {
  background: var(--color-bg);
  color: var(--color-white);
}

/* Anti Spam Bot Field */
#bot-field {
  display: none;
}
/* /Anti Spam Bot Field */

/*---- MAIN COLORS ----*/
.text-gradient {
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.orange-gradient {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    rgba(244, 67, 54, 1) 0%,
    rgba(255, 193, 7, 1) 57%,
    rgba(255, 255, 0, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(244, 67, 54, 1) 0%,
    rgba(255, 193, 7, 1) 57%,
    rgba(255, 255, 0, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(244, 67, 54, 1) 0%,
    rgba(255, 193, 7, 1) 57%,
    rgba(255, 255, 0, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFF00', endColorstr='#F44336', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(244, 67, 54, 1) 0%,
    rgba(255, 193, 7, 1) 57%,
    rgba(255, 255, 0, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(244, 67, 54, 1) 0%,
    rgba(255, 193, 7, 1) 57%,
    rgba(255, 255, 0, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/*---- MAIN TYPOGRAPHY ----*/

h1 {
  font-size: 6rem;
  text-spacing: -1.5px;
  font-weight: light;
}
h2 {
  font-size: 3.75rem;
  text-spacing: -0.5px;
  font-weight: light;
}
h3 {
  font-size: 3rem;
  text-spacing: 0px;
  font-weight: normal;
}
h4 {
  font-size: 2.125rem;
  letter-spacing: 0.25px;
  font-weight: normal;
}
h5 {
  font-size: 1.5rem;
  letter-spacing: 0px;
  font-weight: normal;
}
h6 {
  font-size: 1.25rem;
  letter-spacing: 0.15px;
  font-weight: medium;
}
p {
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  font-weight: normal;
}

.text-shadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/*---- NAV LINKS ----*/
.nav-link {
  transition: all 0.5s;
  font-size: 1.2rem;
}
.nav-link:hover {
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
/*---- /NAV LINKS ----*/

/*---- BUTTONS ----*/
.button {
  font-size: 1.2rem;
  letter-spacing: 1.25px;
  font-weight: medium;
  border: 1px solid #33bbcf;
  width: max-content;
  display: inline-block;
  color: black;
  padding: 0.75em 1.5em;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: var(--transition);
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.contact-btn {
  font-size: 1.2rem;
  letter-spacing: 1.25px;
  font-weight: medium;
}
/*---- /BUTTONS ----*/

/*---- CONTAINERS ----*/
.section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

.section-container {
  margin-top: 10em;
  margin-bottom: 10em;
}
/*---- /CONTAINERS ----*/

/*---- HERO ----*/
.hero,
.pre-footer {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;
  background-repeat: no-repeat;
  min-height: 60vh;
  width: 100%;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.hero,
.pre-footer {
  filter: grayscale(100%);
  transition: filter 0.5s;
}
.hero:hover {
  box-shadow: var(--light-blue) 0px 19px 38px, var(--light-blue) 0px 15px 12px;
}
.pre-footer:hover,
.hero:hover {
  filter: none;
}
/*---- /HERO ----*/

/* CONNECT */
#connect-img {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

/*---- RESPONSIVENESS ----*/
@media (max-width: 768px) {
  .hero,
  .pre-footer {
    filter: none;
  }
}
